@model Models.ViewModels.NecesidadModificacion

<div class="input-field col s5 hiddendiv">
    @Html.EditorFor(o => o.IdNecesidad, new { htmlAttributes = new { @readonly = "true", @type = "hidden" } })
</div>


<div class="input-field col s5">
    @Html.LabelFor(o => o.Nombre)
    @Html.EditorFor(o => o.Nombre, new { htmlAttributes = new { @readonly = "true", @class = "lalala" } })
    @Html.ValidationMessageFor(o => o.Nombre)
</div>


@*<div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @readonly = "true", @value = ViewBag.necesidad.Nombre, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>*@

<div class="input-field push-s1 col s5">
    @Html.LabelFor(o => o.TelefonoContacto)
    @Html.EditorFor(o => o.TelefonoContacto)
    @Html.ValidationMessageFor(o => o.TelefonoContacto)
</div>

<div class="input-field col s12">
    @Html.LabelFor(o => o.Descripcion)
    @Html.EditorFor(o => o.Descripcion)
    @Html.ValidationMessageFor(o => o.Descripcion)
</div>

<div class="input-field col s12">
    @Html.EditorFor(o => o.FechaFin)
    @Html.ValidationMessageFor(o => o.FechaFin)
</div>

@{
    if (Model.TipoDonacion == 1)
    {
        <div id="campos-monetaria-container">
            <div class="input-field col s12">
                @Html.Label("Monto")
                @Html.EditorFor(o => o.NecesidadDonacionMonetaria.Dinero)
                @Html.ValidationMessageFor(o => o.NecesidadDonacionMonetaria.Dinero)
            </div>
            <div class="input-field col s12">
                @Html.LabelFor(o => o.NecesidadDonacionMonetaria.CBU)
                @Html.EditorFor(o => o.NecesidadDonacionMonetaria.CBU)
                @Html.ValidationMessageFor(o => o.NecesidadDonacionMonetaria.CBU)
            </div>
        </div>
    }
    else if (Model.NecesidadesDonacionesInsumos != null)
    {
        <div id="campos-insumos-container" class="col s12">

            <div class="input-field col s12" id="insumos-cargados-container">
                <div class="insumo-container-template" style="display:none;">
                    <div class="nombre-insumo-cargado input-field col s5">
                        @Html.EditorFor(o => o.NecesidadesDonacionesInsumos[0].Nombre)
                    </div>
                    <div class="cantidad-insumo-cargado input-field col s5">
                        @Html.EditorFor(o => o.NecesidadesDonacionesInsumos[0].Cantidad)
                    </div>
                    <div class="input-field col s1">
                        <img class="button-delete-insumo" src="~/Images/Necesidad/Basura.png" alt="Borrar Necesidad" />
                    </div>
                </div>
                @foreach (var necesidad in Model.NecesidadesDonacionesInsumos)
                {
                    int i = 0;

                    <div class="insumo-container-template" style="display:block;">
                        <div class="nombre-insumo-cargado input-field col s5">
                            @Html.EditorFor(o => o.NecesidadesDonacionesInsumos[i].Nombre)
                        </div>
                        <div class="cantidad-insumo-cargado input-field col s5">
                            @Html.EditorFor(o => o.NecesidadesDonacionesInsumos[i].Cantidad)
                        </div>
                        <div class="input-field col s1">
                            <img class="button-delete-insumo" src="~/Images/Necesidad/Basura.png" alt="Borrar Necesidad" />
                        </div>
                    </div>

                    i++;
                }
            </div>

            <div class="input-field col s12">
                <input type="text" class="nombre-insumo-agregar form-control col s5" placeholder="Nombre Insumo" />
                <input type="number" class="cantidad-insumo-agregar form-control col s5 push-s1" placeholder="Cantidad" />
            </div>

            <div class="input-field col s6 push-s6">
                <button type="button" id="button-agregar-insumo" class="btn btn-primary col s7 l5 push-s3 push-l5">Agregar Insumo</button>
            </div>

        </div>
    }
}

<!-- Wrapper -->
<div class="col s12"></div>
<!-- Wrapper -->

<div id="datos-referencias-container">
    @{
        for (int i = 0; i < 2; i++)
        {
            <div class="input-field col s12 m6">
                @Html.LabelFor(o => o.Referencia[i].Nombre)
                @Html.EditorFor(o => o.Referencia[i].Nombre)
                @Html.ValidationMessageFor(o => o.Referencia[i].Nombre)
            </div>
            <div class="input-field col s12 m6">
                @Html.LabelFor(o => o.Referencia[i].Telefono)
                @Html.EditorFor(o => o.Referencia[i].Telefono)
                @Html.ValidationMessageFor(o => o.Referencia[i].Telefono)
            </div>
        }
    }
</div>

<div class="col s3">
    <div class="necesidad-img">
        <img src="~/@Model.Path" />
    </div>
    <div class="file-field input-field">
        <div class="btn waves-effect waves-light col s12 m12 l12 blue darken-3">
            <span>CAMBIAR FOTO</span>
            <input type="file">
            @Html.TextBoxFor(o => o.Foto, new { type = "file", name = "archivo" })
            @Html.ValidationMessageFor(o => o.Foto)
        </div>
    </div>
</div>

<div class="input-field col s12">
    <button class="btn btn-primary col s3 push-s8 push-l8">Agregar Necesidad</button>
</div>
