@using Models.ORM
@model Necesidades

<div class="col s12 m6 l6">
    <div class="card horizontal light-blue darken-3 white-text">
        <div class="card-image col s12 m3 l3">
            <img src="https://placehold.it/190x223" />
        </div>
        <div class="card-content col s12 m9 l9">
            <h6>@Model.Nombre</h6>
            <div class="col s12 m10 l10">
                <p>@Model.Usuarios.UserName</p>
                <p>@Model.FechaCreacion</p>
            </div>
            <div class="col s12 m12 l12">
                <p>@Model.DonacionesTipo.Descripcion</p>
                <p>Total donado: $5000 de $10000</p>
            </div>
            <div class="col s12 m12 l12">
                @if (Model.Valoracion != null)
                {
                    @Html.Partial("pv_ProgressBar", (Decimal)Model.Valoracion)
                }
                else
                {
                    @Html.Partial("pv_ProgressBar", Decimal.Zero)
                }
            </div>
            <div class="card-action col s12 m12 l12">
                <a class="white-text" href="#">EDITAR</a>
                <a class="white-text" href="#">DETALLE</a>
            </div>
        </div>      
    </div>
</div>