@{ 
    Models.ORM.Necesidades necesidad = Model;
}

<div class="col s12 m6 l6">
    <div class="card horizontal light-blue darken-3 white-text">
        <div class="card-stacked">
            <div class="card-content">
                <h5 class="col s12">@necesidad.Nombre</h5>
                <p class="col s12">@necesidad.Usuarios.UserName</p>
                <p class="col s12">Valoración: @(necesidad.Valoracion*100)%</p>
                <p class="col s12">Creada: @necesidad.FechaCreacion</p>
                @* Saco el progressbar porque el tp no lo pide *@
                @*<p>
                    @{
                        if (necesidad.Valoracion == null)
                        {
                            @Html.Partial("pv_ProgressBar", 0M);
                        } else
                        {
                            @Html.Partial("pv_ProgressBar", (decimal) /* Recaudado */);
                        }
                    }
                </p>*@
            </div>
            <div class="card-action right-align">
                <a class="white-text" href="/necesidad/detalleNecesidad?idNecesidad=@necesidad.IdNecesidad">Detalle</a>
            </div>
        </div>
        <div class="card-image">
            <div class="card-image">
                @if (necesidad.Foto != "" || necesidad.Foto != null)
                {
                    <img src="~/@necesidad.Foto" class="img-card-necesidad" />
                }
                else
                {
                    <img src="~/Images/Perfil/user-icon.png" />
                }
            </div>
        </div>
    </div>
</div>