@using Models.Partial
@model List<DonacionHistorialMetaData>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="col s12 m12 l12">
    <div class="row titulo-usuario">
        <div class="titulo-inicio blue-text accent-3 center">
            <h5>MIS DONACIONES</h5>
        </div>
        <hr />
    </div>
    <div class="row contenedor-mis_donaciones">
        <table class="highlight">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>NOMBRE</th>
                    <th>TIPO</th>
                    <th>ESTADO</th>
                    <th>RECAUDACION</th>
                    <th>MI DONACION</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var donacion in Model)
                {
                    <tr>
                        <td>@donacion.Fecha</td>
                        <td>@donacion.Nombre</td>
                        <td>@donacion.Tipo</td>
                        <td>@donacion.Estado</td>
                        <td>@donacion.TotalRecaudado</td>
                        <td>@donacion.MiDonacion</td>
                        <td><a href="#">Detalle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

