@using Models.Partial
@model PerfilMetaData

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="col s12 m12 l12">
    <div class="row titulo-usuario">
        <div class="titulo-inicio blue-text accent-3 center">
            <h5>PERFIL</h5>
        </div>
        <hr />
    </div>
    <div class="col s12 m4 l4 offset-m8 offset-l8">
        <a class="btn waves-effect waves-light col s12 m12 l12 blue darken-3" href="/MisDonaciones/Inicio">MIS DONACIONES</a>      
    </div>
    <div class="row contenedor-perfil">
        <form method="post" action="/Perfil/Inicio" enctype="multipart/form-data">
            <div id="LadoIzquierdo" class="col s12 m3 l3">
                <div class="card">
                    <div class="card-image">
                        @if (Model.RutaFoto != "" || Model.RutaFoto != null)
                        {
                            <img src="~/@Model.RutaFoto" class="img-perfil"/>
                        }
                        else
                        {
                            <img src="~/Images/Perfil/user-icon.png"/>
                        }
                    </div>
                    <div class="file-field input-field">
                        <div class="btn waves-effect waves-light col s12 m12 l12 blue darken-3">
                            <span>CAMBIAR FOTO</span>
                            <input type="file">
                            @Html.TextBoxFor(m => m.Archivo, new { type= "file", name = "archivo" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="LadoDerecho" class="col s12 m8 offset-l1 offset-m1">
                <div class="input-field col s12 m12">
                    @if (Model.Nombre == "")
                    {
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "validate", name = "nombre" })

                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "validate", name = "nombre", disabled = "disabled" })
                    }

                    <label for="nombre">Nombre</label>
                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "helper-text" })

                </div>
                <div class="input-field col s12 m12">
                    @if (Model.Apellido == "")
                    {
                        @Html.TextBoxFor(m => m.Apellido, new { @class = "validate", name = "apellido" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Apellido, new { @class = "validate", name = "apellido", disabled = "disabled" })
                    }
                    <label for="apellido">Apellido</label>
                    @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "helper-text" })
                </div>
                <div class="input-field col s12 m12 l12">
                    @if (Model.Nombre == "" & Model.Apellido == "")
                    {
                        @Html.TextBoxFor(m => m.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "validate datepicker", name = "fechanacimiento", id = "icon_date_range" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "validate datepicker", name = "fechanacimiento", id = "icon_date_range", disabled = "disabled" })
                    }

                    <label for="fecha_nac">Fecha de nacimiento</label>
                    @Html.ValidationMessageFor(m => m.FechaNacimiento, "", new { @class = "helper-text" })
                </div>
                <button class="btn waves-effect waves-light col s12 m12 l12 blue darken-3" id="btnIngresar" type="submit" name="action">
                    MODIFICAR
                </button>
                
            </div>
        </form>
    </div>
</div>